/* This is injected after a web page loads */
// This will run in the background

body{
-webkit-filter: invert(100%)!important;
filter: invert(100%)!important;
}


.myInput{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px !important;
  height: 40px !important;
  border-radius: 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a !important;
  outline: none !important;
  
}

.searchButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(90%, -50%);
  margin: auto;
  width: auto !important;
  height: 40px !important;
  background-color: white!important;
  font-weight: 700;
  color: black !important;
  padding: 14px 20px !important;
  border: none !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoLabel{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkedinLogo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 100px !important;
  height: auto !important;
    display: flex;
  align-items: center;
  justify-content: center;
 
}

